.hide {
	display: none;
}

.page {
	background-color: transparent;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
}

.page1 {
	background: url(../assets/bg.jpg) bottom;
}

.page2 {
	/**
	  TODO:;
	*/
}

.page3 {
	background: url(../assets/p3/3-01.png) bottom;
}

.page3 .btn1 {
	bottom: 18%;
	left: 18%;
}

.page3 .btn2 {
	bottom: 10%;
	left: 18%;
}

.page3 .btn3 {
	bottom: 10%;
	right: 15%;
}

.page4 {
	background: url(../assets/bg.jpg) bottom;
}

.page4 .btn1 {
	top: 20%;
	left: 5%;
}

.page4 .btn2 {
	top: 20%;
	right: 5%;
}

.page4 .btn3 {
	bottom: 13%;
	left: 5%;
}

.page4 .btn4 {
	bottom: 13%;
	right: 5%;
}

.page5 {
	background: url(../assets/p5/5-01.png) bottom;
}

.page5 .canvas {
	left: 0;
	top: 16%;
}

.page5 .btn1 {
	top: 12%;
	left: 8%;
}

.page5 .btn2 {
	top: 12%;
	left: 50%;
	margin-left: -80px;
}

.page5 .btn3 {
	top: 12%;
	right: 8%;
}

.page5 .btn4 {
	bottom: 4%;
	left: 50%;
	margin-left: -150px;
}

.page6 {
	background: url(../assets/bg.jpg) bottom;
}

.page6 .label1 {
	top: 4%;
	left: 6%;
}

.page6 .canvas {
	top: 19.5%;
}

.page6 .btn1 {
	top: 16.5%;
	left: 6.5%;
}

.page6 .btn2 {
	top: 16.5%;
	right: 6.5%;
}

.page6 .btn3 {
	bottom: 2.5%;
	left: 50%;
	margin-left: -150px;
}

.page6 .sub-btn1 {
	top: 16.5%;
	right: 6%;
	margin-top: 10px;
	margin-right: 150px;
}

.page6 .sub-btn2 {
	top: 16.5%;
	right: 6%;
	margin-top: 10px;
	margin-right: 90px;
}

.page6 .sub-btn3 {
	top: 16.5%;
	right: 6%;
	margin-top: 10px;
	margin-right: 30px;
}

.page7 {
	background: url(../assets/bg.jpg) bottom;
}

.page7 .label1 {
	top: 4%;
	left: 6%;
}

.page7 .canvas {
	top: 9%;
	left: 50%;
	margin-left: -290px;
}

.page7 .input1 {
	top: 68%;
	height: 96px;
	background-image: url(../assets/p7/7_txt_01.png);
    background-position: 5% 50%;
}

.page7 .input2 {
	top: 79%;
	height: 48px;
	background-image: url(../assets/p7/7_txt_02.png);
    background-position: 5% 50%;

}

.page7 .input3 {
	top: 85%;
	height: 48px;
    background-image: url(../assets/p7/7_txt_03.png);
    background-position: 5% 50%;
}

.page7 .btn1 {
	bottom: 1.5%;
	left: 13%;
}

.page7 .btn2 {
	bottom: 1.5%;
	right: 13%;
}

.page7.step1 {

}

.page7.step2 {
	
}

.page-instruction {
	background: url(../assets/instruction.jpg) top;
}

/** comps */
.input {
	color: #fff;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 2px solid #fff;
	border-radius: 8px;
	padding-left: 24px;
	box-sizing: border-box;
}

.right-in {
	-webkit-animation: dragRight 0.5s ease 0.7s both;
	animation: dragRight 0.5s ease 0.7s both;
}

.input:active, .input:focus {
	outline: none;
	background-image: none !important;
}

.input.full-line {
  left: 50%;
  width: 465px;
  margin-left: -231px;
}

.label {
	-webkit-animation: dragTop 0.5s ease 0.8s both;
	animation: dragTop 0.5s ease 0.8s both;
}

.sub-btn.active {
	background-color: pink;
}

/** animation */
.bottom-in {
	-webkit-animation: dragBottom 0.6s ease both;
	animation: dragBottom 0.6s ease both;
}

.left-in {
	-webkit-animation: dragLeft 0.5s ease 0.7s both;
	animation: dragLeft 0.5s ease 0.7s both;
}

.right-in {
	-webkit-animation: dragRight 0.5s ease 0.7s both;
	animation: dragRight 0.5s ease 0.7s both;
}

.bubble {
	-webkit-animation: bubble 0.5s ease 0.6s both;
	animation: bubble 0.5s ease 0.6s both;
}

.delay-0 {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.delay-1 {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

.delay-2 {
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}

.delay-3 {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

.delay-4 {
	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

@keyframes dragBottom
{
	0%
	{
		opacity: 0;
		transform: translateY(70px);
	}
	30%
	{
		opacity: 1;
	}
	60%
	{
		transform: translateY(-20px);
	}
	90%
	{
		transform: translateY(5px);
	}
	97%
	{
		transform: translateY(1px);
	}
	100%
	{
		transform: translateY(0px);
	}
}

@-webkit-keyframes dragBottom
{
	0%
	{
		opacity: 0;
		-webkit-transform: translateY(70px);
	}
	30%
	{
		opacity: 1;
	}
	60%
	{
		-webkit-transform: translateY(-20px);
	}
	90%
	{
		-webkit-transform: translateY(5px);
	}
	97%
	{
		-webkit-transform: translateY(1px);
	}
	100%
	{
		-webkit-transform: translateY(0px);
	}
}

@keyframes dragTop
{
	0% {
		opacity: 0;
		transform: translateY(-120px);
	}
	60% {
		opacity: 1;
		transform: translateY(20px);
	}
	90% {
		transform: translateY(-5px);
	}
	97% {
		transform: translateY(-1px);
	}
	100% {
		transform: translateY(0px);
	}
}

@-webkit-keyframes dragTop
{
	0% {
		opacity: 0;
		-webkit-transform: translateY(-120px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateY(20px);
	} 90%
	{
		-webkit-transform: translateY(-5px);
	} 97%
	{
		-webkit-transform: translateY(-1px);
	} 100%
	{
		-webkit-transform: translateY(0px);
	}
}


@keyframes dragLeft
{
	0% {
		opacity: 0;
		transform: translateX(-360px);
	}
	60% {
		opacity: 1;
		transform: translateX(20px);
	}
	90% {
		transform: translateX(-5px);
	}
	97% {
		transform: translateX(-1px);
	}
	100% {
		transform: translateX(0px);
	}
}

@-webkit-keyframes dragLeft
{
	0% {
		opacity: 0;
		-webkit-transform: translateX(-360px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(20px);
	} 90%
	{
		-webkit-transform: translateX(-5px);
	} 97%
	{
		-webkit-transform: translateX(-1px);
	} 100%
	{
		-webkit-transform: translateX(0px);
	}
}

@keyframes dragRight
{
	0% {
		opacity: 0;
		transform: translateX(360px);
	}
	60% {
		opacity: 1;
		transform: translateX(-20px);
	}
	90% {
		transform: translateX(5px);
	}
	97% {
		transform: translateX(1px);
	}
	100% {
		transform: translateX(0px);
	}
}

@-webkit-keyframes dragRight
{
	0% {
		opacity: 0;
		-webkit-transform: translateX(360px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(-20px);
	} 90%
	{
		-webkit-transform: translateX(5px);
	} 97%
	{
		-webkit-transform: translateX(1px);
	} 100%
	{
		-webkit-transform: translateX(0px);
	}
}

@keyframes bubble
{
	0% {
		opacity: 0;
		transform: scale(0);
	}
	60% {
		opacity: 1;
		transform: scale(1.2);
	}
	90% {
		transform: scale(0.95);
	}
	97% {
		transform: scale(0.99);
	}
	100% {
		transform: scale(1);
	}
}

@-webkit-keyframes bubble
{
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale(1.2);
	} 90%
	{
		-webkit-transform: scale(0.95);
	} 97%
	{
		-webkit-transform: scale(0.99);
	} 100%
	{
		-webkit-transform: scale(1);
	}
}

/** fixed */
.fixed {
	position: absolute;
	display: block;
}

.fixed.top {
	top: 0;
}

.fixed.bottom {
	bottom: 0;
}

.fixed.left {
	left: 0;
}

.fixed.right {
	right: 0;
}

.fixed.center {
	left: 50%;
}