.hide {
	display: none;
}

.bg {
	position: absolute;
	left: 0;
	bottom: 0;
	max-height: 100%;
}

img.full {
	width: 320px;
}

.center-x {
	left: 50%;
	margin-left: -160px;
}

.brand-logo {
	width: 52px;
}

.section {
	background-color: transparent;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: 100%;
	/*background-size: 100% 100%;*/
}

.section1 {
	background-image: url(../assets/bg.jpg);
}

.section1 .i1, .section1 .i2{
	top: 5%;
	width: 320px;
}

.section1 .logo1 {
	width: 123px;
}

.section2 {
	/**
	  TODO:;
	*/
}

.section3 {
	background-image: url(../assets/p3/3-01.jpg);
}

.section3 .i1, .section3 .i2 {
	width: 320px;
}

.section3 .btn1 {
	bottom: 18%;
	left: 50%;
	margin-left: -107px;
	width: 213px;
}

.section3 .btn2 {
	bottom: 10%;
	left: 50%;
	margin-left: -112px;
	width: 104px;
}

.section3 .btn3 {
	bottom: 10%;
	left: 50%;
	margin-left: 8px;
	width: 104px;
}

.section4 {
	background-image: url(../assets/bg.jpg);
}

.section4 .btn1 {
	top: 20%;
	left: 50%;
	margin-left: -145px;
	width: 139px;
}

.section4 .btn2 {
	top: 20%;
	left: 50%;
	margin-left: 6px;
	width: 139px;
}

.section4 .btn3 {
	bottom: 13%;
	left: 50%;
	margin-left: -145px;
	width: 149px;
}

.section4 .btn4 {
	bottom: 13%;
	left: 50%;
	margin-left: 6px;
	width: 149px;
}

.section5 {
	background-image: url(../assets/p5/5-01.jpg);
}

.section5 .canvas {
	width: 320px;
	top: 18%;
	z-index: -1;
}

.section5 .btn1 {
	width: 90px;
	top: 14%;
	left: 8%;
	z-index: 100;
}

.section5 .btn2 {
	width: 85px;
	top: 14%;
	left: 50%;
	margin-left: -40px;
	z-index: 100;
}

.section5 .btn3 {
	width: 85px;
	top: 14%;
	right: 8%;
	z-index: 100;
}

.section5 .btn4 {
	width: 148px;
	bottom: 4%;
	left: 50%;
	margin-left: -75px;
	z-index: 100;
}

.section6 {
	background-image: url(../assets/bg.jpg);
}

.section6 .label1 {
	width: 288px;
	top: 4%;
	left: 6%;

}

.section6 .canvas {
	width: 320px;
	top: 19.5%;
}

#d3-canvas {
	top: 24%;
	left: 50%;
	margin-left: -160px;
	height: 240px;
	width: 320px;
	position: absolute;
}

.section6 .btn1 {
	width: 90px;
	top: 16.5%;
	left: 6.5%;
}

.section6 .btn2 {
	width: 178px;
	top: 16.5%;
	right: 6.5%;
}

.section6 .btn3 {
	width: 148px;
	bottom: 2.5%;
	left: 50%;
	margin-left: -75px;
}

.section6 .sub-btn1 {
	width: 7px;
	top: 16.5%;
	right: 6%;
	margin-top: 5px;
	margin-right: 75px;
}

.section6 .sub-btn2 {
	width: 13px;
	top: 16.5%;
	right: 6%;
	margin-top: 5px;
	margin-right: 45px;
}

.section6 .sub-btn3 {
	width: 18px;
	top: 16.5%;
	right: 6%;
	margin-top: 5px;
	margin-right: 15px;
}

.section7 {
	background-image: url(../assets/bg.jpg);
}

.section7 .label1 {
	top: 4%;
	left: 6%;
}

.section7 .canvas {
	top: 9%;
	left: 50%;
	margin-left: -290px;
}

.section7 .input1 {
	top: 68%;
	height: 96px;
	background-image: url(../assets/p7/7_txt_01.png);
    background-position: 5% 50%;
}

.section7 .input2 {
	top: 79%;
	height: 48px;
	background-image: url(../assets/p7/7_txt_02.png);
    background-position: 5% 50%;

}

.section7 .input3 {
	top: 85%;
	height: 48px;
    background-image: url(../assets/p7/7_txt_03.png);
    background-position: 5% 50%;
}

.section7 .btn1 {
	bottom: 1.5%;
	left: 13%;
}

.section7 .btn2 {
	bottom: 1.5%;
	right: 13%;
}

.section7.step1 {

}

.section7.step2 {
	
}

.section-instruction {
	background: url(../assets/instruction.jpg) top;
}

/** comps */
.input {
	color: #fff;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 2px solid #fff;
	border-radius: 8px;
	padding-left: 24px;
	box-sizing: border-box;
}

.right-in {
	-webkit-animation: dragRight 0.5s ease 0.7s both;
	animation: dragRight 0.5s ease 0.7s both;
}

.input:active, .input:focus {
	outline: none;
	background-image: none !important;
}

.input.full-line {
  left: 50%;
  width: 465px;
  margin-left: -231px;
}

.label {
	-webkit-animation: dragTop 0.5s ease 0.8s both;
	animation: dragTop 0.5s ease 0.8s both;
}

canvas {
	-webkit-animation: bubble 0.5s ease 0.6s both;
	animation: bubble 0.5s ease 0.6s both;
}

.sub-btn.active {
	background-color: pink;
}

/** animation */
.bottom-in {
	-webkit-animation: dragBottom 0.6s ease both;
	animation: dragBottom 0.6s ease both;
}

.left-in {
	-webkit-animation: dragLeft 0.5s ease 0.7s both;
	animation: dragLeft 0.5s ease 0.7s both;
}

.right-in {
	-webkit-animation: dragRight 0.5s ease 0.7s both;
	animation: dragRight 0.5s ease 0.7s both;
}

.bubble {
	-webkit-animation: bubble 0.5s ease 0.6s both;
	animation: bubble 0.5s ease 0.6s both;
}

.delay-0 {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.delay-1 {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

.delay-2 {
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}

.delay-3 {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

.delay-4 {
	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

@keyframes dragBottom
{
	0%
	{
		opacity: 0;
		transform: translateY(70px);
	}
	30%
	{
		opacity: 1;
	}
	60%
	{
		transform: translateY(-20px);
	}
	90%
	{
		transform: translateY(5px);
	}
	97%
	{
		transform: translateY(1px);
	}
	100%
	{
		transform: translateY(0px);
	}
}

@-webkit-keyframes dragBottom
{
	0%
	{
		opacity: 0;
		-webkit-transform: translateY(70px);
	}
	30%
	{
		opacity: 1;
	}
	60%
	{
		-webkit-transform: translateY(-20px);
	}
	90%
	{
		-webkit-transform: translateY(5px);
	}
	97%
	{
		-webkit-transform: translateY(1px);
	}
	100%
	{
		-webkit-transform: translateY(0px);
	}
}

@keyframes dragTop
{
	0% {
		opacity: 0;
		transform: translateY(-120px);
	}
	60% {
		opacity: 1;
		transform: translateY(20px);
	}
	90% {
		transform: translateY(-5px);
	}
	97% {
		transform: translateY(-1px);
	}
	100% {
		transform: translateY(0px);
	}
}

@-webkit-keyframes dragTop
{
	0% {
		opacity: 0;
		-webkit-transform: translateY(-120px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateY(20px);
	} 90%
	{
		-webkit-transform: translateY(-5px);
	} 97%
	{
		-webkit-transform: translateY(-1px);
	} 100%
	{
		-webkit-transform: translateY(0px);
	}
}


@keyframes dragLeft
{
	0% {
		opacity: 0;
		transform: translateX(-360px);
	}
	60% {
		opacity: 1;
		transform: translateX(20px);
	}
	90% {
		transform: translateX(-5px);
	}
	97% {
		transform: translateX(-1px);
	}
	100% {
		transform: translateX(0px);
	}
}

@-webkit-keyframes dragLeft
{
	0% {
		opacity: 0;
		-webkit-transform: translateX(-360px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(20px);
	} 90%
	{
		-webkit-transform: translateX(-5px);
	} 97%
	{
		-webkit-transform: translateX(-1px);
	} 100%
	{
		-webkit-transform: translateX(0px);
	}
}

@keyframes dragRight
{
	0% {
		opacity: 0;
		transform: translateX(360px);
	}
	60% {
		opacity: 1;
		transform: translateX(-20px);
	}
	90% {
		transform: translateX(5px);
	}
	97% {
		transform: translateX(1px);
	}
	100% {
		transform: translateX(0px);
	}
}

@-webkit-keyframes dragRight
{
	0% {
		opacity: 0;
		-webkit-transform: translateX(360px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(-20px);
	} 90%
	{
		-webkit-transform: translateX(5px);
	} 97%
	{
		-webkit-transform: translateX(1px);
	} 100%
	{
		-webkit-transform: translateX(0px);
	}
}

@keyframes bubble
{
	0% {
		opacity: 0;
		transform: scale(0);
	}
	60% {
		opacity: 1;
		transform: scale(1.2);
	}
	90% {
		transform: scale(0.95);
	}
	97% {
		transform: scale(0.99);
	}
	100% {
		transform: scale(1);
	}
}

@-webkit-keyframes bubble
{
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale(1.2);
	} 90%
	{
		-webkit-transform: scale(0.95);
	} 97%
	{
		-webkit-transform: scale(0.99);
	} 100%
	{
		-webkit-transform: scale(1);
	}
}

/** fixed */
.fixed {
	position: absolute;
	display: block;
}

.fixed.top {
	top: 0;
}

.fixed.bottom {
	bottom: 0;
}

.fixed.left {
	left: 0;
}

.fixed.right {
	right: 0;
}

.fixed.center {
	left: 50%;
}

/** painting style */
#canvas {
	display: block;
	z-index: 999;
	position: absolute;
	left: 0;
	top: 23%;
	width: 100%;
	height: 300px;
}
